<!-- your html code here 
<p>Hello, I'm contact.html</p>-->
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, soluta sunt odit possimus similique eligendi impedit quaerat cum, expedita, assumenda cumque quos voluptate totam cupiditate unde laborum. Nulla, laboriosam saepe?</p>


<form>
<div >
    <div>
    <label>Your E-mail</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Your email">
    </div>

    <div>
        <label>Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    


</div>
</form>
