<!-- your html code here -->
<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
      <title>Portafolio</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  <main>
    
    <div class="Portafolio py-5 bg-light">
      <section class="py-3 text-left container" float="left">
      <div class="row py-2" float="left">
        <h1 class="fw-light"><strong>Portafolio</strong></h1>
         <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      </div>
    </section>
      <div class="container">
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
          <div class="col"> <!--columna uno-->
             <div class="col" ><img src="/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png" width= "100%"  height="100%"/></div>                    

            <div class="caption" float="center"> <!--clase caption-->
              <h2><font color=#3f3f9f>Project Name</font></h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div> <!--Fin clase caption-->
          </div><!--Fin columna uno-->
          
           <div class="col"> <!--columna dos-->
           <div class="col" float ="center"><img src="/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png" width="100%" height="100%"/></div>              
           <div class="caption" float="center"> <!--clase caption-->
              <h2><font color=#3f3f9f>Project Name</font></h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div> <!--Fin clase caption-->
          </div><!--Fin columna dos-->
         

           <div class="col"> <!--columna tres-->
            <div class="col"><img src="/workspace/exercise-collaborative-html-website/website1/assets/img/big-project-image.png" width= "100%" height="100%" /></div>              
            
             <div class="caption" float="center"> <!--clase caption-->
            <h2><font color=#3f3f9f>Project Name</font></h2>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div> <!--Fin clase caption-->
          </div> <!--Fin columna tres-->
          </div><!--CLASE COLUMNAS-->            
          </div><!-- FIN DEL COINTAINER-->
           </div>
   </main>

    
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
              integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"crossorigin="anonymous"></script>
</body>
</html>
<p>Hello, I'm the portfolio.html</p>