<!-- your html code here -->
<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p>

<div class="main">
<h1 style="text-align: center;" class="heading"><span style="color: black;" class="first">the second heading</span>
<span style="color:grey;" class="second">is pretty cool too.</span>
</h1>
<p style="text-align: center;">donec ullamcorpe nulla non metus auctor fringilla
vestibunlun id ligula porta felis <br> euismod semper. preasent commond cursus magna,vel scelerisque nisl
consectetur.<br>
fusce dapobus tellus ac cursos commodo.</p>

<img src="/workspace/exercise-collaborative-html-website/website1/assets/img/2.jpg" class="rounded-circle">
</div>

<p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> 